:host {

  .detail-container {
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    img {
      height: 100%;
      margin-right: 10px;
    }
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }
}