<mat-toolbar color="primary">
  <!-- Project detail start -->
  <a class="detail-container" [matMenuTriggerFor]="main_menu">
    <!-- Logo Content start -->
    <img src="favicon.png" />
    <!-- Logo Content end -->

    <!-- Project information start -->
    <div *ngIf="projectCode" class="d-flex flex-row">
      <!-- Project code start -->
      <div class="mr-2">
        {{ projectCode }}
      </div>
      <!-- Project code end -->

      <!-- Timer start -->
      <div *ngIf="isShowTimer">
        {{ projectTimer }}
      </div>
      <!-- Timer end -->
    </div>
    <!-- Project information end -->
  </a>
  <!-- Project detail end -->

  <!-- Menu start -->
  <mat-menu #main_menu="matMenu" xPosition="before">
    <!-- Engagement start-->
    <button class="engagement-container" mat-menu-item *ngIf="isEngagement">
      <div class="engagement-wrapper p-2">
        <!-- Engagement title start-->
        <div class="title">Engagement</div>
        <!-- Engagement title end-->

        <!-- Engagement percentage start-->
        <div class="percentage-wrapper">
          <div class="average">{{ engagementPer }}%</div>
          <div class="tick">
            <mat-icon>arrow_drop_up</mat-icon>
            {{ engagementTickPer }}%
          </div>
        </div>
        <!-- Engagement percentage start-->

        <!-- During start-->
        <div class="during-wrapper">
          {{ engagementDuring }}
        </div>
        <!-- During end-->
      </div>
    </button>
    <!-- Engagement end-->

    <!-- Timer start -->
    <button class="timer-container" mat-menu-item [disabled]="!isSelectedTask && !isRunTimer" (click)="timerHandler()">
      <div class="timer-wrapper">
        <!-- Timer status start -->
        <div
          class="status"
          [ngClass]="{'active': isRunTimer, 'stop': !isRunTimer}"
        ></div>
        <!-- Timer status end -->

        <!-- Timer title start -->
        <div class="title">
          {{ !isRunTimer ? 'Timer is paused' : 'Timer is running' }}
        </div>
        <!-- Timer title end -->

        <!-- Timer icon start -->
        <div class="timer-icon">
          <mat-icon *ngIf="isRunTimer;else playTimerIconEle">pause_circle_outline</mat-icon>
          <ng-template #playTimerIconEle>
            <mat-icon>play_circle_outline</mat-icon>
          </ng-template>
        </div>
        <!-- Timer icon end -->
      </div>
    </button>
    <!-- Timer end -->

    <button mat-menu-item [matMenuTriggerFor]="switch_projects" *ngIf="isProjectMenu">Switch Projects</button>
    <button mat-menu-item (click)="addNote()" [disabled]="!isAddNote">Add a note</button>
    <a class="none-underline" mat-menu-item (click)="goToAppDashboard($event)">Open Dashboard</a>
    <a class="none-underline" mat-menu-item (click)="openSettings($event)">Settings</a>
    <a class="none-underline" mat-menu-item [routerLink]="['/about']">About Track.ly</a>
    <a class="none-underline" mat-menu-item [routerLink]="['/help']">Help</a>
    <a class="none-underline" mat-menu-item [routerLink]="['/check']">Check for updates</a>
    <button mat-menu-item (click)="logout()">Singout</button>
    <button mat-menu-item (click)="quit()">Quit tracker</button>
  </mat-menu>

  <mat-menu #switch_projects="matMenu">
    <ng-container *ngFor="let projectItemKey of projectsMenu | objectKey">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ projectsMenu[projectItemKey]['name'] }}</button>
      <mat-menu #sub_menu="matMenu">
        <a class="none-underline" *ngFor="let taskItem of projectsMenu[projectItemKey]['tasks']" mat-menu-item>{{ taskItem }}</a>
      </mat-menu>
    </ng-container>
  </mat-menu>
  <!-- Menu end -->
</mat-toolbar>