:host {
  height: calc( 100% - 64px );

  .setting-container {

    .timer-handler {
      border-bottom: 1px solid #cdcdcd;
    }

    .screenshot-notify-handler {
      border-bottom: 1px solid #cdcdcd;
    }

    .schedule-notify-handler {
    }
  }

  .loading-container {
    height: 100%;
  }
}